version: "3"

services:
  php:
    image: wodby/wordpress-php:$PHP_TAG
    volumes:
      - {{ codebase_volume_path }}

    networks:
      - default

  nginx:
    volumes:
      - {{ codebase_volume_path }}
    networks:
      - default
      - {{ traefik.network }}
    labels:
      - 'traefik.enable=true'
    environment:
     NGINX_SERVER_ROOT: /var/www/html/www

  traefik:
    networks:
      - {{ traefik.network }}
    ports:
      - '{{ traefik.http_port }}:80'
      - '{{ traefik.https_port}}:443'

volumes:
  codebase:

networks:
  default:
  {{ traefik.network }}:
    external:
      name: {{ traefik.network }}
