version: "3"

services:
  php:
    image: wodby/wordpress:$WORDPRESS_TAG
    environment:
      PHP_FPM_CLEAR_ENV: "no"
    volumes:
      - {{ codebase_volume_path }}

    networks:
      - default

  nginx:
    volumes:
      - {{ codebase_volume_path }}
    networks:
      - default
      - {{ traefik.network }}
    labels:
      - 'traefik.enable=true'

  traefik:
    networks:
      - {{ traefik.network }}
    ports:
      - '{{ traefik.http_port }}:80'
      - '{{ traefik.https_port}}:443'

volumes:
  codebase:

networks:
  default:
  {{ traefik.network }}:
    external:
      name: {{ traefik.network }}
