version: "3"

services:
  php:
    image: wodby/wordpress-php:$PHP_TAG
    volumes:
      - {{ codebase_volume_path }}

    networks:
      - default

  nginx:
    volumes:
      - {{ codebase_volume_path }}
    networks:
      - default
      - {{ traefik_network }}
    labels:
      - 'traefik.enable=true'
    environment:
     NGINX_SERVER_ROOT: /var/www/html/www

  traefik:
    networks:
      - {{ traefik_network }}
    ports:
      - '{{ traefik_http_port }}:80'
      - '{{ traefik_https_port}}:443'

  mariadb:
    volumes:
      - database:/var/lib/mysql

volumes:
  codebase:
  database:

networks:
  default:
  {{ traefik_network }}:
    external:
      name: {{ traefik_network }}
